* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-self: center;
    align-self: center;
    user-select: none;
}

.container{
  margin-top: 1em;
  width: 100vw;

}


.header{
  display: flex;
  gap: 0.5em;
  cursor: pointer;
}

.header > img {
  height: 1.25em;
  width: 1.25em;
}